.header {
  background: $header-background;
  box-shadow: 0 0 2px rgba($black, 0.2);
  padding: ($gutters / 2) 0;

  // Header Nav
  &-nav {
    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin: 0 ($gutters / 2);
      font-size: em(12);
    }

    a {
      color: $dark-gray;
      font-weight: $semibold;
      transition: 0.3s ease;

      &.active {
        color: $accent;
      }
    }

    .register,
    .cart,
    .login,
    .logout {
      .btn {
        display: block;
        background: rgba($black, 0.05);
        padding: ($gutters / 2) ($gutters / 2 + 6);
      }

      &:hover {
        .btn {
          background: $accent;
          color: $white;
        }
      }
    }
  }

  .register {
    margin: 0 0 0 ($gutters / 2);

    .btn {
      border-radius: 4px 0 0 4px;
    }
  }

  .cart {
    margin: 0 2px;

    .icon_cart {
      margin: 0 4px 0 0;
    }

    &:hover {
      .badge {
        background: $white;
        color: $accent;
      }
    }

    .btn {
      border-radius: 0;
    }
  }

  .login,
  .logout {
    margin: 0;

    .btn {
      border-radius: 0 4px 4px 0;
    }
  }

  // Dev
  .logout {
    display: none;
  }
}