// Container
.container {
  z-index: 1;
  position: relative;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding: 0 $gutters;
  box-sizing: border-box;

  // Fluid Container
  &[fluid] {
    max-width: 100%;
  }
}

// Row
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 (-$gutters / 2);
}

// Columns
.col {
  padding: 0 ($gutters / 2);
  box-sizing: border-box;

  @for $i from 1 through $columns {
    &-#{$i} {
      width: percentage($i / $columns);
      flex-basis: percentage($i / $columns);
    }
  }
}

// Flex
[flex] {
  display: flex;
}

// Align Items
@each $type in $align-items {
  [align-items='#{$type}'] {
    align-items: $type;
  }
}

// Align Content
@each $type in $align-content {
  [align-content='#{$type}'] {
    align-content: $type;
  }
}

// Align Self
@each $type in $align-self {
  [align-self='#{$type}'] {
    align-self: $type;
  }
}

// Flex Direction
@each $type in $flex-direction {
  [flex-direction='#{$type}'] {
    flex-direction: $type;
  }
}

// Flex Wrap
@each $type in $flex-wrap {
  [flex-wrap='#{$type}'] {
    flex-wrap: $type;
  }
}

// Justify Content
@each $type in $justify-content {
  [justify-content='#{$type}'] {
    justify-content: $type;
  }
}

// Order
@for $i from 1 through $columns {
  [order='#{$i}'] {
    width: percentage($i / $columns);
    flex-basis: percentage($i / $columns);
  }
}

@include media(tablet) {
  .col {
    width: 100%;
    flex-basis: 100%;
  }
}