.has-sub-menu {
  position: relative;
}

.sub-menu {
  z-index: 90;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background: $white;
  width: 200px;
  box-shadow: 2px 2px 4px rgba($black, 0.2);
  margin: 2px 0 0;

  li {}

  a {
    display: block;
    font-size: inherit;
    padding: ($gutters / 2) $gutters;
  }
}