template(name='footer')
  footer(class='footer')
    div(class='container')
      div(class='row')
        div(class='col col-2')
          div(class='footer-block')
            h4(class='title') Elegant Themes
            ul(class='unstyled')
              li: a(href='#') Our Company
              li: a(href='#') Blog
              li: a(href='#') Careers
          div(class='footer-block')
            h4(class='title') Our Community
            ul(class='unstyled')
              li: a(href='#') Forums
              li: a(href='#') Meetups
              li: a(href='#') Affiliate Program
        div(class='col col-2')
          div(class='footer-block')
            h4(class='title') Products
            ul(class='unstyled')
              li: a(href='#') Child Themes
              li: a(href='#') Plugins
              li: a(href='#') Books
              li: a(href='#') Courses
        div(class='col col-2')
          div(class='footer-block')
            h4(class='title') Need Help?
            ul(class='unstyled')
              li: a(href='#') Support
              li: a(href='#') Terms &amp; Conditions
              li: a(href='#') Privacy Policy
        div(class='col col-6')
          div(class='footer-block')
            h4(class='title') Lorem ipsum dolor sit
            p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit.
          div(class='footer-block')
            h4(class='title') Follow Us
            ul(class='inline')
              li: a(class='social-icon'
                    href='#'): i(class='social_facebook')
              li: a(class='social-icon'
                    href='#'): i(class='social_twitter')
              li: a(class='social-icon'
                    href='#'): i(class='social_googleplus')
              li: a(class='social-icon'
                    href='#'): i(class='social_rss')
      div(class='footer-bottom')
        div(class='footer-info') Copyright &copy; 2015
          b ElegantThemes