// Theme Colors
$accent: #BD6982;

// Base Colors
$white: #FFFFFF;
$black: #000000;

$light-gray: lighten($black, 60%); // #999999
$gray: lighten($black, 40%); // #666666
$dark-gray: lighten($black, 20%); // #333333

// Colors
$blue: #57B0FC;
$green: #84CF2F;
$purple: #9741DA;